<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body class="bg-dark">

    <div class="container bg-primary">
         <div class="row">
            <div class="col">header</div>
         </div>
    </div>

    <div class="container-fluid bg-primary">
         <div class="row">
            <div class="col">nav</div>
         </div>
    </div>
    
    <div class="container bg-warning">
        <div class="row">
            <div class="col-6 bg-warning">foto</div>
            <div class="col-6 bg-success">texto</div>
        </div>
        <div class="row">
            <div class="col-4 bg-info">nota1</div>
            <div class="col-4 bg-danger">nota2</div>
            <div class="col-4 bg-success">nota3</div>
        </div>
        <div class="row">
            <div class="col-4 bg-success">nota4</div>
            <div class="col-8 bg-info">banner</div>
        </div>
    </div>

    
    <div class="container-fluid bg-warning">
        <div class="row">
            <div>Footer</div>
        </div>
    </div>
</body>

</html>